:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: #213547;
    background-color: lightgray;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#visualiser {
    inset: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: -1;
}

#app {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 1rem);
    width: 30vw;
    margin: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    min-width: 640px;
    user-select: none;
}


ul {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background-color: white;
}

ul:hover {
    opacity: 1;
}

li {
    list-style: none;
    cursor: pointer;
    padding: 0.35em;
    padding-left: 1em;
    border-bottom: 1px solid darkgray;
    user-select: none;
}

li:hover {
    background-color: lightblue;
}

.selected {
    background-color: lightblue;
}

.player {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: lightblue;
}

.controls {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.play-button {
    margin-right: 2em;
    background-color: darkgreen;
    border: none;
    color: white;
    padding: 1em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    cursor: pointer;
}

.play-button:hover {
    background-color: darkolivegreen;
}

.song-details {
    line-height: 1.4em;
}

#log1, #log2, #log3 {
}