:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: white;
    background-color: lightgray;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
}

.fullscreen-div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

canvas {
    width: 100%;
    height: 100%;
}

.overlay-div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    user-select: none;
    overflow: hidden;

    background-color: #222;
    opacity: 0.8;
}

@media (max-width: 800px) {
    .fullscreen-div {
        top: 0;
        height: 20vh;
    }

    .overlay-div {
        top: 20vh;
        width: 100vw;
        height: 80vh;
    }
}

ul {
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #444 #222;
    width: 100%;
}


li {
    list-style: none;
    cursor: pointer;
    padding: 0.35em 0.35em 0.35em 1em;
    border-bottom: 1px solid black;
    user-select: none;
}

li:hover {
    background-color: darkslategrey;
}

.selected {
    background-color: darkslategrey;
}

.player {
    display: flex;
    flex-direction: column;
    background-color: #444;
}

.controls {
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: #222;
}

.log {
    padding: 1em
}

.play-button {
    margin-right: 2em;
    background-color: darkolivegreen;
    border: none;
    color: white;
    padding: 1em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    cursor: pointer;
}

.play-button:hover {
    background-color: darkgreen;
}

.song-details {
    line-height: 1.4em;
}

#log1, #log2, #log3 {
}